#output {
  text-align: center;
  margin-top: 25%
}

.background0 {
  background-color: red;
}

.background1 {
  background-color: blue;
}

.backgroundping {
  background-image: url(../img/ping.png);
}

.backgroundpong {
  background-image: url(../img/pong.jpeg);
}

.backgroundping-pong {
  background-image: url(../img/ping-pong.gif);
}
