.jumbotron {
  text-align: center;
  color: gold;
  background-image: url(../img/table.jpg);
}
#output {
  text-align: center;
}

.background0 {
  background-color: crimson;
}

.text0 {
  margin-top: 8em;
  color: dodgerblue;
}

.background1 {
  background-color: dodgerblue;
}

.text1 {
  margin-top: 8em;
  color: crimson;
}

.backgroundping {
  background-image: url(../img/ping.png);
}

.textping {
  margin-top: 4em;
  color: blue;
  font-style: italic;
  font-weight: bold;
  font-size: 500%;
  margin-right: 60%;
}

.backgroundpong {
  background-image: url(../img/pong.jpeg);
}

.textpong {
  margin-top: 4em;
  color: red;
  font-style: italic;
  font-weight: bold;
  font-size: 500%;
  margin-left: 60%;
}

.backgroundping-pong {
  background-image: url(../img/ping-pong.gif);
}

.textping-pong {
  margin-top: 2em;
  color: yellow;
  font-style: oblique;
  font-weight: bolder;
  font-size: 1000%;
  text-decoration: underline;
  text-shadow: 5px 5px black;
}

#try-again {
  color: white;
  text-align: center;
  display: none;
}

#again {
  width: 200px;
  margin-left: 40%;
}

#again:hover {
  cursor: pointer;
  color: crimson;
  text-decoration: underline;
}

.tryAgain {
  background-color: black;
}

.btn-default {
  display: none;
  margin-left: 75em;
  margin-top: 25em;
}
